
path:hover {
	fill-opacity: .97;
}

h2.title {
  margin: 30px;
}

.card-columns {
  column-count: 1;
}

path.country {
  color: var(--blue);
}

path.crash-line {
  stroke: red;
  stroke-width: .5;
  pointer-events:none;
}