
path:hover {
	fill-opacity: .97;
}

h2.title {
  margin: 30px;
}

.card-columns {
  column-count: 1;
}

path.country {
  fill: #424242;
}

path.crash-line {
  stroke: red;
  stroke-width: .5;
  fill: none;
}

path.hidden {
  opacity: 0;
  pointer-events: none;
}

path.crash-line:hover {
  stroke-width: 3; 
}

path.water {
  fill: #f9f9f9;
}

